@using NegoSudLib.DTO.Read

@model ClientDTO

@{
    ViewData["Title"] = "Connexion";
}

<h1>Bienvenue @Model.UserName</h1>


<p>Nom : @Model.NomUtilisateur</p>
<p>Prénom : @Model.PrenomUtilisateur</p>
<p>Adresse : @Model.AdresseUtilisateur</p>
<p>E-mail : @Model.MailUtilisateur</p>
<p>Numéro de téléphone : @Model.NumTelUtilisateur</p>

