@model IEnumerable<NegoSudLib.DAO.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrenomUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTelUtilisateur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomUtilisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrenomUtilisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseUtilisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelUtilisateur)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
