@using NegoSudLib.DTO.Write
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<ProduitsViewModel>

@{
    ViewData["Title"] = "NegoSud";

    var panierJson = HttpContextAccessor.HttpContext.Session.GetString("Panier");
    var panier = new VentesWriteDTO();
    if (!string.IsNullOrEmpty(panierJson))
    {
        panier = JsonConvert.DeserializeObject<VentesWriteDTO>(panierJson);
        panier.SetTotaux();
    }
}

<h1>Index</h1>

<div class="product-container">
    @foreach (var product in Model)
    {
        <div class="product-card">               
            <div class="product-domaine">@product.Produit.NomDomaine</div>
            <div class="product-picInfo">
                <img class="product-pic" src="@product.Produit.PhotoProduitPath" alt="@product.Produit.NomProduit">
                <div class="product-info">
                    <div class="product-title">@product.Produit.NomProduit</div>
                    <div class="product-description">@product.infoCard</div>
                </div>
            </div>
            <form class="product-form" method="post" onsubmit="false">
                <div class="product-prices">
                     <div class="product-price">
                         <div class="product-priceInfo">"A l'unité"</div>
                         <div class="product-priceValue">@product.prixUnite</div>
                         <div class="product-quantity">
                            <button type="button" class="product-plusMinus" onclick="modifyQt(@product.Produit.Id,false,false)"> - </button>
                               
                            <input class="product-qtValue" id="qteUnite_@product.Produit.Id" type="number" value="@product.QteUnite" />
                            <button type="button" class="product-plusMinus" onclick="modifyQt(@product.Produit.Id,false,true)">+</button>
                         </div>
                     </div>
                     <div class="product-price">
                        <div class="product-priceInfo">@product.infoCardCarton</div>
                        <div class="product-priceValue">@product.prixCarton</div>
                         <div class="product-quantity">
                            <button type="button" class="product-plusMinus" onclick="modifyQt(@product.Produit.Id,true,false)"> - </button>
                            <input class="product-qtValue" id="qteCarton_@product.Produit.Id" type="number" value="@product.QteCarton" />
                            <button type="button" class="product-plusMinus" onclick="modifyQt(@product.Produit.Id,true,true)">+</button>
                        </div>
                     </div>

                </div>

                <input type="hidden" name="productId" value="@product.Produit.Id" />
                @* <input type="hidden" name="productQuantity" value="@product.Quantity" /> *@
                @* <input type="hidden" name="productCarton" value="@product.AuCarton" /> *@
                <button type="button" class="product-AddToCart" onclick="addToCart(@product.Produit.Id)" >Ajouter au panier</button>
            </form>
        </div>
    }
</div>

<script>


    function addToCart(productId) {
        event.preventDefault();
        var qteUnite = $("#qteUnite_"+productId).val();
        var qteCarton= $("#qteCarton_"+productId).val();

        $.ajax({
            url: '@Url.Action("AddToCart", "Produits")',
            type: 'POST',
            data: {
                productId: productId,
                qteUnite: qteUnite,
                qteCarton: qteCarton
            },
            success: function () {
                alert('Produit ajouté au panier!');
            },
            error: function () {
                alert('Erreur lors de l\'ajout au panier.');
            }
        });
    }

    function modifyQt(produitId, AuCarton ,add) {
        var inputQte = AuCarton ? $("#qteCarton_" + produitId) : $("#qteUnite_" + produitId);
        var valQte = inputQte.val()
        if (add) {
            valQte++;
        } else {

            valQte--;
            if (valQte < 0) {
                valQte = 0;
            }

        }
        inputQte.val(valQte)
    }
    

</script>