@using NegoSudLib.DTO.Write
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model VentesWriteDTO
@{
	ViewData["Title"] = "Panier";	
}

<h1>Votre panier</h1>

	
<div class="panier-container">
	<div class="panier">
@for (int i = 0; i < Model.DetailMouvementStocks.Count(); i++)
{
			var dtMvt = Model.DetailMouvementStocks[i];
			var pdt = new ProduitsViewModel(dtMvt.Produit);
			var auCarton = dtMvt.AuCarton ? "carton(s)" :"bouteille(s)";


			<div class="panier-item">
				<div class="panier-picInfo">
					<img class="panier-img" src="@pdt.Produit.PhotoProduitPath"/>
					<div class="panier-infos">
						<div class="panier-desc">
							<h1> @pdt.Produit.NomProduit</h1>
							<p> @auCarton</p>
							<P> @pdt.enStock </P>
						</div>

						<div class="panier-gestion">
							@* <input type="number" value="@dtMvt.QteProduit" /> *@
							<button type="button" class="product-plusMinus" onclick="modifyCart(@i,false)"> - </button>
							<input class="product-qtValue" id="qtePanier_@i" type="number" value="@dtMvt.QteProduit" />
							<button type="button" class="product-plusMinus" onclick="modifyCart(@i,true)">+</button>
						<p>Supprimer</p>
						</div>

					</div>
					
				</div>


				
					<div class="item-recap-prix">
						@* <p>Promotion</p>  Axe d'amélioration' *@
						<h3 class="sousTotal_@i">@dtMvt.SousTotal €</h3>
					</div>
				
			</div>
}
	</div>

	<div class="recap-panier">
		<div class="infos-green">Votre commande est éligible à la livraison Standard gratuite en France métropolitaine. Restrictions applicables</div>
		<div>Total (4 articles) :</div>
		<div id="totalPanier">@Model.Total</div>
		<form asp-action="Valider">
			<button class="button-passer-commande">Passer la commande</button>
		</form>
	</div>
		
</div>

<script>

	var panier = @Html.Raw(JsonConvert.SerializeObject(Model));

	function modifyCart(dtMvtIndice, add) {
		var inputQte =$("#qtePanier_" + dtMvtIndice)
		var valQte = inputQte.val()
		if (add) {
			valQte++;
		} else {
			
			valQte--;
			if (valQte < 1) {
				valQte = 1; 
			}

		}
		inputQte.val(valQte)


		panier.DetailMouvementStocks[dtMvtIndice].QteProduit = valQte;
		if (panier.DetailMouvementStocks[dtMvtIndice].AuCarton) {
			panier.DetailMouvementStocks[dtMvtIndice].SousTotal = panier.DetailMouvementStocks[dtMvtIndice].QteProduit * panier.DetailMouvementStocks[dtMvtIndice].Produit.PrixVenteCarton
		} else {
			panier.DetailMouvementStocks[dtMvtIndice].SousTotal = panier.DetailMouvementStocks[dtMvtIndice].QteProduit * panier.DetailMouvementStocks[dtMvtIndice].Produit.PrixVente
		}

		panier.Total = 0;
		for (var i = 0; i < panier.DetailMouvementStocks.length; i++) {
			panier.Total += panier.DetailMouvementStocks[i].SousTotal;
		}

		$('.sousTotal_' + dtMvtIndice).text(panier.DetailMouvementStocks[dtMvtIndice].SousTotal + " €");
		$('#totalPanier').text(panier.Total);

		

		    $.ajax({
		        url: '@Url.Action("UpdateCart", "Produits")',
		        type: 'POST',
		        data: {
				panierJson: JSON.stringify(panier)
		        },
		        success: function () {

		        },
		        error: function () {
		            alert('Erreur lors de la modification');
		        }
		    });



    }

</script>

